<%- include("partials/header") -%>

  <div class="box" id="heading">
    <h1> Info </h1>
  </div>

  <div class="box">
    <p>Filer name: <%=  filer_name  %> </p>
  </div>

<%- include("partials/footer") -%>